#cc-staff-container ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#cc-staff-container li { margin: 0; }

#cc-staff-container a
{
	display: block;
	color: #FFF;
	background-color: #036;
	width: 40em;
	padding: 3px 32px 3px 8px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: bold;
}

#cc-staff-container a:hover
{
	background-color: #369;
	color: #FFF;
}

#cc-staff-container li li a
{
	display: block;
	color: #FFF;
	background-color: #69C;
	width: 40em;
	padding: 3px 3px 3px 37px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: normal;
}


/* Container  */
#cc-linkless-head-narrow-container ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#cc-linkless-head-narrow-container li { margin: 0; }

#cc-linkless-head-narrow-container li span
{
	display: block;
	color: #FFF;
	background-color: #036;
	width: 16em;
	padding: 3px 32px 3px 8px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: bold;
}

#cc-linkless-head-narrow-container a:hover
{
	background-color: #369;
	color: #FFF;
}

#cc-linkless-head-narrow-container li li a
{
	display: block;
	color: #FFF;
	background-color: #69C;
	width: 16em;
	padding: 3px 3px 3px 37px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: normal;
}

/* Stream view status box */

#cc-stream-view-status-container {
	text-align: center;
	margin: 0px auto;
	width: 180px;
	margin-top: 2em;
	padding-bottom: 1em;
}

#cc-stream-view-status-container .published {
	color: #128812;
	padding: 5px;
	padding: 5px;
	border: 1px solid #000;
	font-weight: bold;
}

#cc-stream-view-status-container .modified ul {
	color: #B91309;
	list-style-type: none;
	padding: 5px;
	border: 1px solid #000;
	font-weight: bold;
}

#cc-stream-view-status-container .modified ul li {
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Stream Container */
#cc-stream-container {
	margin-left: 30px;
}

#cc-stream-container ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: verdana, arial, sans-serif;
}

#cc-stream-container li {
	margin: 0;
}

/* Year */
#cc-stream-container ul li {
	color: #686868;
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
}

#cc-stream-container ul ul {
	margin-left: 30px;
	padding: 0;
	list-style-type: none;
}

/* Session */
#cc-stream-container ul ul li {
	color: #9B9B9B;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 6px;
}

#cc-stream-container ul ul ul {
	margin-left: 30px;
	padding: 0;
	list-style-type: none;
}

/* UoS */
#cc-stream-container ul ul ul li {
	color: #000;
	font-size: 12px;
	display: block;
	border-left: 1em solid #686868;
	border-bottom: 1px solid #686868;
	padding: 4px 8px;
	width: 50em;
	margin-bottom: 5px;
}

#cc-stream-container ul ul ul li img {
	vertical-align: bottom;
	border: 0;
	text-decoration: none;
	margin-right: 3px;
	margin-left: 3px;
}

#cc-stream-container ul ul ul li span.label {
	margin-left: 3em;
	float:left;
}

#cc-stream-container ul ul ul li span.options {
	float: right;
}

/* UoS no longer offered. Used in stream-view. */
#cc-stream-container h2 {
	color: #686868;
	padding-top: 3em;
}

#cc-stream-container .cc-stream-view-not-offered ul li {
	color: #000;
	font-size: 12px;
	padding: 3px;
	width: 50em;
	margin-bottom: 5px;
	margin-left: 4em;
	list-style-type: disc;
}

#cc-stream-container .cc-stream-view-not-offered ul li a {
	vertical-align: bottom;
	border: 0;
	text-decoration: none;
}


/* Styles for stream maps. */

#cc-stream-map-container {

}

#cc-stream-map-container .spacer {
	clear: both;
}

#cc-stream-map-container #key {
	border: 1px solid #000;
	width: 60%;
	margin-bottom: 1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#cc-stream-map-container #key ul {
        margin-left: auto;
        margin-right: auto;
}

#cc-stream-map-container #key ul li {
	list-style-type: none;
	border: 1px solid #000;
	padding: 3px;
	margin: 0px;
	font-size: 10px;
	font-weight: bold;
	display: inline;
}

#cc-stream-map-container #key h3 {
	clear: left;
}

#cc-stream-map-container ul {
	list-style-type: none;
	margin-left: 1em;
	padding: 0px;
}

#cc-stream-map-container .float {
	float: left;
  	width: 120px;
	height: 113px;
  	padding: 10px;
	margin: 1em;
	border: 1px solid #000;
}

#cc-stream-map-container .selected {
	background-color: #CCC;
}

#cc-stream-map-container .prerequisite {
	background-color: red;
}

#cc-stream-map-container .assumed-knowledge {
	background-color: green;
}

#cc-stream-map-container .corequisite {
	background-color: yellow;
}

#cc-stream-map-container .prohibition {
	background-color: blue;
}

#cc-stream-map-container .no-longer-offered {
	background-color: violet;
}

#cc-stream-map-container .ga-very-high {
	background-color: #FF0000;
}

#cc-stream-map-container .ga-high {
	background-color: #FF9900;
}

#cc-stream-map-container .ga-moderate {
	background-color: #FFFF66;
}

#cc-stream-map-container .ga-low {
	background-color: #00CC33;
}

#cc-stream-map-container .ga-very-low {
	background-color: #0033CC;
}

#cc-stream-map-container .float ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#cc-stream-map-container .float ul.info {
	height: 80px;
	background-color:white;
}

#cc-stream-map-container .float ul.options {
	height: 30px;
}

#cc-stream-map-container .float ul li.uos-code {
	color: #E88000;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding: 0px;
}

#cc-stream-map-container .float ul li.uos-name {
	margin-top: 5px;
	color: #4B832E;
	font-size: 12px;
	text-align: center;
	padding: 0px;
}

#cc-stream-map-container .float ul li.info {
	color: blue;
	font-size: 12px;
	text-align: center;
	padding: 2px;
}

#cc-stream-map-container ul.years li {
	list-style-type: none;
	color: #686868;
	font-size: 18px;
        font-weight: bold;
}

#cc-stream-map-container ul.sessions li {
	list-style-type: none;
	color: #9B9B9B;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 6px;
}


/* Styles for lists */
#cc-list-container table {
	width: 100%;
}

#cc-list-container table tr td {
	font-weight: bold;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	margin: 1px;
	vertical-align: top;
}

#cc-list-container table tr td.label {
	background-color: #CCCCCC;
	width: 160px;
}

#cc-list-container table tr td.value {
	background-color: #F0F0F0;
}

.spacer {
	clear: both;
}
