#cc-staff-container ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#cc-staff-container li { margin: 0; }

#cc-staff-container a
{
	display: block;
	color: #FFF;
	background-color: #036;
	width: 40em;
	padding: 3px 32px 3px 8px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: bold;
}

#cc-staff-container a:hover
{
	background-color: #369;
	color: #FFF;
}

#cc-staff-container li li a
{
	display: block;
	color: #FFF;
	background-color: #69C;
	width: 40em;
	padding: 3px 3px 3px 37px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: normal;
}


/* Container  */
#cc-linkless-head-narrow-container ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#cc-linkless-head-narrow-container li { margin: 0; }

#cc-linkless-head-narrow-container li span
{
	display: block;
	color: #FFF;
	background-color: #036;
	width: 16em;
	padding: 3px 32px 3px 8px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: bold;
}

#cc-linkless-head-narrow-container a:hover
{
	background-color: #369;
	color: #FFF;
}

#cc-linkless-head-narrow-container li li a
{
	display: block;
	color: #FFF;
	background-color: #69C;
	width: 16em;
	padding: 3px 3px 3px 37px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: normal;
}

/* Stream Container */
#cc-stream-container {
	margin-left: 30px;
}

#cc-stream-container ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: verdana, arial, sans-serif;
}

#cc-stream-container li {
	margin: 0;
}

/* Year */
#cc-stream-container ul li {
	color: #686868;
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
}

#cc-stream-container ul ul {
	margin-left: 30px;
	padding: 0;
	list-style-type: none;
}

/* Semester */
#cc-stream-container ul ul li {
	color: #9B9B9B;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 6px;
}

#cc-stream-container ul ul ul {
	margin-left: 30px;
	padding: 0;
	list-style-type: none;
}

/* UoS */
#cc-stream-container ul ul ul li {
	color: #000;
	font-size: 12px;
	display: block;
	border-left: 1em solid #686868;
	border-bottom: 1px solid #686868;
	padding: 4px 8px;
	width: 50em;
	margin-bottom: 5px;
}

#cc-stream-container ul ul ul li a {
	vertical-align: bottom;
	border: 0;
	text-decoration: none;
	margin-right: 4em;
}

/* Stream view status box */

#cc-stream-view-status-container {
	text-align: center;
	margin: 0px auto;
	width: 180px;
	margin-top: 2em;
}

#cc-stream-view-status-container .published {
	color: #128812;
	padding: 5px;
	padding: 5px;
	border: 1px solid #000;
	font-weight: bold;
}

#cc-stream-view-status-container .modified ul {
	color: #B91309;
	list-style-type: none;
	padding: 5px;
	border: 1px solid #000;
	font-weight: bold;
}

#cc-stream-view-status-container .modified ul li {
	padding-top: 3px;
	padding-bottom: 3px;
}
